<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>App Coder</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppCoder/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
                <a class="navbar-brand" href="{% url 'AppCoder:inicio' %}">App Coder</a>
            <!-- Usa el namespace AppCoder: para todas las URLs de tu app -->
            {% if request.user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'AppCoder:profesores' %}">Profesores</a>
            <a class="btn btn-primary" href="{% url 'AppCoder:cursos' %}">Cursos</a>
            {% endif %}
            <a class="btn btn-primary" href="{% url 'AppCoder:alumnos' %}">Alumnos</a>
            <a class="btn btn-primary" href="{% url 'AppCoder:contacto' %}">Contacto</a>
            
            {% if user.is_authenticated %}
                <span class="navbar-text mx-2">
                    <img src="{{ user.profile.avatar.url }}" alt="Avatar" width="30" height="30" class="rounded-circle">
                    Hola, <a href="{% url 'AppCoder:perfil_usuario' %}">{{ user.username }}</a>
                </span>
                <form method="POST" action="{% url 'AppCoder:Logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
                </form>
            {% else %}
                <a class="btn btn-success" href="{% url 'AppCoder:login' %}">Iniciar Sesión</a>
                <a class="btn btn-warning" href="{% url 'AppCoder:seleccion_registro' %}">Registrarse</a>
            {% endif %}

            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">App Coder</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
   
        {% block contenido %}
        
        {% endblock %}

        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">                         
                            <li class="list-inline-item">
                                <a href="{% url 'AppCoder:contacto' %}">Contacto</a>
                            </li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Powered by Coderhouse.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="https://www.facebook.com/" target="_blank"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>